.card {
    width: 100%;
    max-width: 380px;
    overflow: hidden;
}

/* KHUNG ẢNH */
.card-img {
    width: 100%;
    height: 220px;      /* CỐ ĐỊNH */
    overflow: hidden;
    border-radius: 16px;
}

/* ẢNH BÊN TRONG */
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ÉP ẢNH ĐẦY KHUNG */
    display: block;
}
